*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    position: relative;
}

header{
    position: fixed;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: 400px 1fr;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 5px;
}

@media (max-width: 600px){
    header {
        flex-wrap: wrap;
    }
}

#header-img {
    grid-column: 1;
    width: 100%;
    align-self: center;
}

@media (max-width: 650px) {
    #header-img {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

#nav-bar{
    grid-column: 2;
    align-self: center;
    justify-self: right;
    display: flex;
    margin-right: 8px;
}

.nav-link{
    text-decoration: inherit;
    margin: 5px;
    color: inherit;
}

nav {
    font-weight: 400;
}

@media(max-width: 650px){
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px 0 50;
    }
      nav li {
        padding-bottom: 10px;
    }
}
  
main{
    margin: auto;
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin-top: 120px;
}

#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading h1{
    margin-bottom: 20px;
    word-wrap: break-word;
}

#form{
    display: grid;
    grid-template-rows: 40px 1px;
    grid-gap: 5px;
    align-items: center;
}

#email{
    max-width: 300px;
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

#submit{
    height: 30px;
    width: 100%;
    max-width: 150px;
    font-weight: bold;
    text-transform: uppercase;
    justify-self: center;
    background-color: yellow;
    border-radius: 4px;
    border: 0;
    margin-bottom: -20px;
}

#submit:hover {
    transform: scale(1.05);
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@media (max-width: 650px) {
    #heading {
        margin-top: 120px;
    }
}

.features-div{
    display: flex;
}

#features {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#features .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.15,0.15);
    height: 100px;
    width: 50vw;
}
    
#features .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 60vw;
    padding: 5px;
}
  
@media (max-width: 550px) {
    #features .content {
      width: 100%;
      text-align: center;
      padding: 0 50px 0 100;
      margin-left: 0;
      height: 150px;
    }
}
  
@media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
}
  
#video {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#video > iframe {
    max-width: 560px;
    width: 100%;
}

#products {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.products-div > .product-header {
    background-color:grey;
    color: black;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
}

.product-price {
    margin-top: 5px;
    font-size: 25px;
    font-weight: 600;
}

.product-descr {
    margin: 15px 0;
    list-style-type: none;
    padding: 5px 0;
}

#select {
    height: 30px;
    width: 100%;
    max-width: 150px;
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

#select:hover {
    transform: scale(1.05);
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@media (max-width: 800px) {
    #products {
      flex-direction: column;
      align-items: center;
    }
    .products-div {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
}

footer {
    margin-top: 20px;
    background-color: gray;
    padding: 10px;
}
  
footer > nav {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 600;
}
  
footer > p {
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color:inherit;
}